body{
    background-color: rgba(0, 0, 0, 0.24);
}
.box1 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 1rem;
}
.box1_left {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    color: white;
    padding: 1rem;

}
.box1_right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    color: white;
    padding: 1rem;
}
